@* @model TwitterClone.Models.Tweet *@
@model dynamic

@{
    Tweet tweet = Model.Tweet;
    string bodyContainerId = Model.BodyContainerId;
}

@{
    var isCurrentUserAuthor = User.Identity.Name == tweet.Author.UserName;
}

<div class="">
    <div class="card tweetCard border-0">
        <div class="card-body p-2">
            @{
                string bodyId = string.IsNullOrEmpty(bodyContainerId)
                    ? $"tweetBody-{tweet.Id}"
                    : $"{bodyContainerId}-{tweet.Id}";
            }
            <!-- Author and follow button-->
            <div class="d-flex align-items-center mb-2">
                <!-- Avatar -->
                @if (!string.IsNullOrEmpty(tweet.Author.Avatar))
                {
                    <img src="@tweet.Author.Avatar" alt="Author Avatar" class="rounded-circle" width="32" height="32">
                }
                else
                {
                    <i class="bi bi-person-fill fs-4 text-muted"></i>
                }
                <!-- Author Name -->
                <div class="ms-2">
                    <h6 class="mb-0 fs-6">@tweet.Author.NickName</h6>
                    <p class="text-muted fs-6 mb-0">@tweet.Author.UserName</p>
                </div>
                <!-- Follow Button -->
                <button id="followButton-@bodyId-Author-@tweet.Author.Id" type="button" class="followButton btn btn-light ms-auto" data-toggle="tooltip" title="">
                    <svg id="followIcon-@bodyId-Author-@tweet.Author.Id" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4"/>
                    </svg>
                </button>
                <script>
                    var followButton = document.getElementById(`followButton-@bodyId-Author-@tweet.Author.Id`);
                    var followIcon=document.getElementById(`followIcon-@bodyId-Author-@tweet.Author.Id`);
                    //set color of followIcon
                    fetch(`/api/Follow/getFollowStatus?userId=@tweet.Author.Id`)
                    .then(response=>response.json())
                    .then(data => {
                        var followButton = document.getElementById(`followButton-@bodyId-Author-@tweet.Author.Id`);
                        var followIcon=document.getElementById(`followIcon-@bodyId-Author-@tweet.Author.Id`);
                        if (data.followed) {
                            followButton.setAttribute('title','Unfollow')
                            followIcon.setAttribute('fill', 'red');
                        } else {
                            followButton.setAttribute('title','Follow')
                            followIcon.setAttribute('fill', 'gray');
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
                    //add click event handler on follow button
                    followButton.addEventListener('click',()=>{
                        fetch('/api/Follow/HandleFollow',{
                            method:'post',
                            headers: {
                                'Content-Type': 'application/json' 
                            },
                            body: JSON.stringify("@tweet.Author.Id")
                        })
                        .then(response=>response.json())
                        .then(data=>{
                            var followButton = document.getElementById(`followButton-@bodyId-Author-@tweet.Author.Id`);
                            var followIcons=document.querySelectorAll(`[id^="followIcon-"][id$="-Author-@tweet.Author.Id"]`);
                            followIcons.forEach(fIcon=>{
                                if (data.success) {
                                    if (fIcon.getAttribute('fill')!='red'){
                                        followButton.setAttribute('title','Unfollow')
                                        fIcon.setAttribute('fill', 'red');
                                    }else{
                                        followButton.setAttribute('title','Follow')
                                        fIcon.setAttribute('fill', 'gray');
                                    }
                                }
                            })
                        })
                    })

                </script>
            </div>
            <!-- Tweet body and buttons -->
            <div class="border fs-6">
                <!-- Tweet Body -->
                @if (!tweet.Suspended)
                {
                    <div id="@bodyId" class="CKEditor-noborder"></div>
                    <script>
                        ClassicEditor
                            .create(document.querySelector('#@bodyId'), {
                                isReadOnly: true,
                                toolbar: [],
                            })
                            .then(editor => {
                                editor.setData(`@Html.Raw(tweet.Body)`);
                                editor.enableReadOnlyMode('#@bodyId');
                            })
                            .catch(error => {
                                console.error(error);
                            });
                    </script>
                }else{
                    <p class="text-danger fs-5">This tweet has been suspended!</p>
                }
                
                <!-- ReTweet -->

                <div class="fs-6">
                    @if (tweet.ParentTweet != null)
                    {
                        @await Html.PartialAsync("_TweetCard", new { Tweet = tweet.ParentTweet, BodyContainerId = bodyId })

                    }
                </div>
            </div>
            <!-- CreatedAt -->
            <p class="card-text"><small class="text-muted">@Html.DisplayFor(modelItem => tweet.CreatedAt)</small></p>
            <div class="btn-group" role="group" aria-label="">
                    <!-- reply Button -->
                    <button id="replyButton-@bodyId" type="button" class="btn btn-light mx-2 rounded" data-toggle="tooltip" title="Reply">
                        <i class="bi bi-chat"></i>
                    </button>
                    <!-- Retweet Button -->
                    <a href="/ShowTweet/AddEditTweet?reTweetId=@tweet.Id" class="btn btn-light mx-2 rounded" data-toggle="tooltip" title="Retweet">
                        <i class="bi bi-arrow-repeat"></i>
                    </a>
                    <!-- Like Button -->
                    <button id="likeButton-@bodyId" type="button" class="likeButton btn btn-light mx-2 rounded" tweetId="@tweet.Id" data-toggle="tooltip" title="Like">
                        <svg id="likeIcon-@bodyId" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    </button>
                    <script>
                        var likeButton = document.getElementById(`likeButton-@bodyId`);
                        var likeIcon=document.getElementById(`likeIcon-@bodyId`);
                        //set color of like icon 
                        fetch(`/api/Like/getLikeStatus?tweetId=@tweet.Id`)
                        .then(response=>response.json())
                        .then(data => {
                            @* var likeIcon=document.getElementById(`likeIcon-@tweet.Id`); *@
                            var likeIcon=document.getElementById(`likeIcon-@bodyId`);
                            if (data.liked) {
                                likeIcon.setAttribute('fill', 'red');
                            } else {
                                likeIcon.setAttribute('fill', 'gray');
                            }
                        })
                        .catch(error => {
                            console.error(error);
                        });
                        //add click event handler on like button
                        likeButton.addEventListener('click',()=>{
                            fetch('/api/Like/setLike?tweetId=@tweet.Id',{
                                method:'post'
                            })
                            .then(response=>response.json())
                            .then(data=>{
                                var likeIcons=document.querySelectorAll(`[id^="likeIcon-"][id$="-${@tweet.Id}"]`)
                                @* console.log(likeIcons) *@
                                likeIcons.forEach(likeIcon=>{
                                    
                                    if (data.liked) {
                                        likeIcon.setAttribute('fill', 'red');
                                    }else{
                                        likeIcon.setAttribute('fill', 'gray');
                                    }
                                })
                            })
                        })

                    </script>

                @if (isCurrentUserAuthor)
                {
                    <!-- Edit Button -->
                    <a href="/ShowTweet/AddEditTweet?id=@tweet.Id" class="btn btn-light mx-2 rounded" data-toggle="tooltip" title="Edit">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <!-- Delete Button -->
                    <a href="/ShowTweet/DeleteTweet?id=@tweet.Id" class="btn btn-danger mx-2 rounded" data-toggle="tooltip" title="Delete">
                        <i class="bi bi-trash"></i>
                    </a>
                }
                <!-- Suspend Button -->
                @if (User.IsInRole("Admin"))
                {
                    
                    string suspendBtnTitle=@tweet.Suspended?"UnSuspend":"Suspend";
                    <a href="/ShowTweet/SuspendTweet?id=@tweet.Id" class="btn btn-danger mx-2 rounded" data-toggle="tooltip" title="@suspendBtnTitle">
                        <i class="bi bi-ban-fill"></i>
                    </a>
                }
                    
            </div>
            <!-- Replies -->
            <div id="replySection-@bodyId" class="tweet-card-reply border fs-6" style="display: none;">
                <input type="text" id="replyInput-@bodyId" class="form-control mb-2 my-2" placeholder="Your reply">
                <button id="replyConfirm-@bodyId" class="btn btn-primary">Confirm</button>
                <ul id="replyList-@bodyId" class="my-2"></ul>
                <script>
                    // reply confirm
                        document.getElementById('replyConfirm-@bodyId').addEventListener('click', function () {
                            var replyBody = document.getElementById('replyInput-@bodyId').value.trim();
                            if (!replyBody) {return}
                            fetch('/api/Reply/addReply', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    tweetId: @tweet.Id,  
                                    replyBody: replyBody
                                })
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Access the reply data from the response
                                var replyData = data.ReplyData;
                                console.log(replyData)

                                // Add the replyData to the ul element
                                var replyList = document.getElementById(`replyList-@bodyId`);
                                var replyItem = document.createElement('li');

                                // Create elements for author's information
                                var commenterInfo = document.createElement('div');
                                commenterInfo.className = 'd-flex align-items-center mb-2';

                                // Avatar
                                if (replyData.Commenter.Avatar) {
                                    var avatar = document.createElement('img');
                                    avatar.src = replyData.Commenter.Avatar;
                                    avatar.alt = 'Author Avatar';
                                    avatar.className = 'rounded-circle';
                                    avatar.width = 32;
                                    avatar.height = 32;
                                    commenterInfo.appendChild(avatar);
                                } else {
                                    var defaultAvatar = document.createElement('i');
                                    defaultAvatar.className = 'bi bi-person-fill fs-4 text-muted';
                                    commenterInfo.appendChild(defaultAvatar);
                                }

                                // Commenter Name and UserName
                                var commenterDetails = document.createElement('div');
                                commenterDetails.className = 'ms-2';
                                var nickName = document.createElement('h6');
                                nickName.className = 'mb-0 fs-6';
                                nickName.textContent = replyData.Commenter.NickName;
                                var userName = document.createElement('p');
                                userName.className = 'text-muted fs-6 mb-0';
                                userName.textContent = replyData.Commenter.UserName;
                                commenterDetails.appendChild(nickName);
                                commenterDetails.appendChild(userName);
                                commenterInfo.appendChild(commenterDetails);

                                // Append commenter's information and reply text to the list item
                                replyItem.appendChild(commenterInfo);
                                var replyText = document.createElement('p');
                                replyText.textContent = replyData.Body;
                                replyItem.appendChild(replyText);

                                // CreatedAt information
                                var createdAtInfo = document.createElement('p');
                                createdAtInfo.className = 'card-text';
                                var small = document.createElement('small');
                                small.className = 'text-muted';
                                small.textContent = replyData.CreatedAt; 
                                createdAtInfo.appendChild(small);
                                replyItem.appendChild(createdAtInfo);

                                // Append the list item to the reply list
                                replyList.appendChild(replyItem);
                                console.log('Reply added successfully:', data);
                            })
                            .catch(error => {
                                console.error('Error adding reply:', error);
                            });
                        });
                </script>
                
            </div>
            <script>
                // click reply button
                document.getElementById(`replyButton-@bodyId`).addEventListener('click', function () {
                    var replySection = document.getElementById('replySection-@bodyId');
                    if (replySection.style.display=='block'){
                        replySection.style.display='none'
                        return
                    }
                    fetch(`/api/Reply/getReplies?tweetId=@tweet.Id`)
                        .then(response=>response.json())
                        .then(replies=>{
                            var replyList=document.getElementById(`replyList-@bodyId`)
                            replyList.innerHTML=""
                            replies.forEach(reply=>{
                                console.log(reply)
                                var replyItem=document.createElement('li')// Create elements for author's information
                                var commenterInfo = document.createElement('div');
                                commenterInfo.className = 'd-flex align-items-center mb-2';

                                // Avatar
                                console.log(reply.Commenter.Avatar)
                                if (reply.Commenter.Avatar) {
                                    var avatar = document.createElement('img');
                                    avatar.src = reply.Commenter.Avatar;
                                    avatar.alt = 'Author Avatar';
                                    avatar.className = 'rounded-circle';
                                    avatar.width = 32;
                                    avatar.height = 32;
                                    commenterInfo.appendChild(avatar);
                                } else {
                                    var defaultAvatar = document.createElement('i');
                                    defaultAvatar.className = 'bi bi-person-fill fs-4 text-muted';
                                    commenterInfo.appendChild(defaultAvatar);
                                }

                                // commenter nickName and userName
                                var commenterDetails = document.createElement('div');
                                commenterDetails.className = 'ms-2';
                                var nickName = document.createElement('h6');
                                nickName.className = 'mb-0 fs-6';
                                nickName.textContent = reply.Commenter.NickName;
                                var userName = document.createElement('p');
                                userName.className = 'text-muted fs-6 mb-0';
                                userName.textContent = reply.Commenter.UserName;
                                commenterDetails.appendChild(nickName);
                                commenterDetails.appendChild(userName);
                                commenterInfo.appendChild(commenterDetails);
                                replyItem.appendChild(commenterInfo);

                                // reply text
                                var replyText = document.createElement('p');
                                replyText.textContent = reply.Body;
                                replyItem.appendChild(replyText);

                                // CreatedAt 
                                var createdAtInfo = document.createElement('p');
                                createdAtInfo.className = 'card-text';
                                var small = document.createElement('small');
                                small.className = 'text-muted';
                                small.textContent = reply.CreatedAt; 
                                createdAtInfo.appendChild(small);
                                replyItem.appendChild(createdAtInfo);

                                replyList.appendChild(replyItem)
                            })
                        })
                        .then(()=>{
                            replySection.style.display = 'block'
                        })
                        .catch(err=>{
                            console.log("error fetching replies: ",err)
                        })
                });
            </script>

        </div>
    </div>


</div>
