@page
@model TwitterClone.Pages.HomeModel

@{
    ViewData["Title"] = "Home / Y";
    ViewData["ShowDescription"] = Model.ShowDescription;
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["IndexDropdown"] = Model.IndexDropDown;
}
<div class="row">

     @if (TempData["FlashMessage"] != null)
        { 
            <div class="mt-4 mx-4 alert alert-success col-7">
                @TempData["FlashMessage"] 
            </div>
        } 
        
    <div class="col-12 col-lg-8 col-xl-7 pe-0">        

        @* TWEET FEED *@

         <div class="row mt-5 mx-1 fs-6">
            <ul class="nav nav-tabs justify-content-around text-dark">
                <li class="nav-item">
                    <a href="/Home/?pageNumber=1&listOption=0" id="tabFollowing" class="nav-link">Following</a>
                </li>
                <li class="nav-item">
                    <a href="/Home/?pageNumber=1&listOption=1" id="tabForYou" class="nav-link">All</a>
                </li>
            </ul>
        </div>

        <div>
            <div>
                @if (TempData["Message"] != null)
                {
                    <div id="flash-message" class="alert alert-success" role="alert">
                        @TempData["Message"]
                    </div>
                }
                    @foreach (var item in Model.Tweets) {
                    <div class="row py-3 ms-1 w-100 border-top border-bottom">
                        @await Html.PartialAsync("_TweetCard", new {Tweet=item,BodyContainerId=""})
                    </div>
                    
                }
            </div>
            <!-- current page number and total pages -->
            <div class="row mt-5 mx-1 fs-6">
                <span>Page @Model.CurrentPage of @Model.TotalPages</span>
            </div>

            <!-- pagenate -->
            <div class="row mt-5 mx-1 fs-6">
                <ul class="pagination">
                    <li class="page-item @((Model.CurrentPage == 1) ? "disabled" : "")">
                        <a class="page-link" href="/Home/?pageNumber=1&listOption=@Model.CurrentListOption" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item @((Model.CurrentPage == 1) ? "disabled" : "")">
                        <a class="page-link" href="/Home/?pageNumber=@(Model.CurrentPage - 1)&listOption=@Model.CurrentListOption" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item @((Model.CurrentPage == Model.TotalPages) ? "disabled" : "")">
                        <a class="page-link" href="/Home/?pageNumber=@(Model.CurrentPage + 1)&listOption=@Model.CurrentListOption" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item @((Model.CurrentPage == Model.TotalPages) ? "disabled" : "")">
                        <a class="page-link" href="/Home/?pageNumber=@Model.TotalPages&listOption=@Model.CurrentListOption" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
         @* END TWEET FEED *@

    <div class="d-none d-lg-flex col-4 sidebarRight sidebarContainerOuter">
        <div class="sidebarContainerInner border-start ps-3">
            <div class="d-flex flex-column flex-shrink-0 bg-body-teritiary vh-100 justify-content-between sidebar sidebarRight">
                <ul class="nav nav-pills nav-flush flex-column mb-auto mt-4">
                    <li class="mb-3 searchBar">
                        <partial name="_PartialSearch" />
                    </li>
                    <li class="mb-3">
                        <div class="bg-light rounded p-2 px-3">
                            <p class="fs-5 mb-2 fw-bold">Subscribe to Premium</p>
                            <p class="fs-6 mb-2">Subscribe to unlock new features and, if eligible, receive a share of ads
                                    revenue.
                            </p>
                            <button class="btn btn-dark btn-sm rounded rounded-pill fw-bold">Subscribe</button>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="bg-light rounded p-2 px-3">
                            <p class="fs-5 mb-4 fw-bold">What's happening</p>
                            <ul class="nav flex-column">
                                <partial name="_PartialWhatsHappening"
                                        model="@Model.ShowTrend.OrderBy(x => Guid.NewGuid()).Take(5).ToList()" />
                                <li class="mt-2">
                                    <button type="button" class="btnShowMoreTrend btn btn-link fs-6 no-underline ps-0">Show
                                            more</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="bg-light rounded p-2 px-3">
                            <p class="fs-5 mb-4 fw-bold">Who to follow</p>
                            <ul class="nav flex-column">
                                <partial name="_PartialFollowSuggestion"
                                        model="@Model.FollowSuggestion.OrderBy(x => Guid.NewGuid()).Take(3).ToList()" />
                                <li class=" mt-2">
                                    <button type="button" class="btnShowMoreFollow btn btn-link fs-6 no-underline ps-0">Show
                                            more</button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-3 fs-6 p-2 text-center">
                            &copy; 2023 - Y - ShiYuan Xu, Meredith White, Xiaoxing Pan, All rights reserved.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btnShowMoreFollow').click(function () {
            window.location.href = '/FollowSuggestion';
        });
        $('.btnShowMoreTrend').click(function () {
            window.location.href = '/WhatsHappening';
        });

        // Handle the button click event
        @* $('.btnRemoveTrend').click(function () {
            console.log('clicked');
            var tweetId = $(this).data('tweet-id'); *@
            // Make an asynchronous request to the server using Fetch API
            @* fetch(`/api/Tweet/updateTrend?tweetId=${tweetId}`, {
                method: 'GET',
                headers: {
                'Content-Type': 'text/html', // Set content type to text/html
                },
                }) *@
                @* fetch(`/Home?handler=OnGetPartialWhatHappening&tweetId=${tweetId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'text/html',
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.text(); // Expecting HTML content
                    })
                    .then(data => {
                        // Update the container with the new data
                        $('#updatedTrendDataContainer').html(data);
                    })
                    .catch(error => {
                        console.error('Fetch error:', error);
                    });
        }); *@
    });
</script>