@page
@model TwitterClone.Pages.Settings.ProfileModel
@{
    ViewData["Title"] = "Edit profile / Y";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.ModelUser != null)
{
    <div class="col-8 offset-1 col-xl-9 offset-xxl-0 ms-lg-5 ps-lg-5">
    <div class="row m-5"></div>
    <div class="row fs-4 fw-bold">Edit profile</div>

    <div>
        @await Component.InvokeAsync("EditProfile")
    </div>

    <div class="row my-3">
        <form method="post" enctype="multipart/form-data">
            <div class="row my-4 ">
                                <div class="form-group p-0 mb-2" id="imgUpload">
                    <label for="avatar" asp-for="Input.Avatar">Change avatar image</label>
                    <input type="file" class="form-control" id="avatar" asp-for="Input.Avatar" >
                    <span asp-validation-for="Input.Avatar" class="text-danger"></span>
                </div>
                <div class="form-group p-0 mb-2">
                    <label for="floatNickName" asp-for="Input.NickName">Name</label>
                    <input type="text" class="form-control" id="floatNickName" asp-for="Input.NickName"
                        placeholder="@Model.ModelUser.NickName" value="@Model.ModelUser.NickName">
                    <span asp-validation-for="Input.NickName" class="text-danger"></span>
                </div>
            </div>

            <div class="row my-4 ">
                <div class="form-group p-0 mb-2">
                    <label for="floatBio" asp-for="Input.Description">Bio</label>
                    <textarea class="form-control" id="floatBio" rows="3" asp-for="Input.Description"
                        placeholder="@Model.ModelUser.Description" value="@Model.ModelUser.Description"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="row my-4">
                <div class="form-group p-0 mb-2">
                    <label asp-for="Input.DOB"></label>
                    <input asp-for="Input.DOB" class="form-control fs-5" placeholder="@Model.ModelUser.DateOfBirth"
                        type="text" onfocus="(this.type='date')"
                        onblur="(this.type='text')" value="@DateOnly.FromDateTime(Model.ModelUser.DateOfBirth.Value)"/>
                    <span asp-validation-for="Input.DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="row my-4">
                <input class="col btn btn-link rounded-pill fw-bold fs-5 bg-dark text-white py-2 mb-2" type="submit"
                    value="Save">
            </div>
            <div class="row my-4">
                <a class="col btn btn-link rounded-pill border-tertiary-gray fw-bold text-dark fs-5 py-2"
                    asp-page="../Home">Cancel</a>
                @* TODO: go back to profile *@
            </div>
        </form>
    </div>
</div>
}
