@page
@model TwitterClone.Pages.Settings.ProfileModel
@{
    ViewData["Title"] = "Edit profile / Y";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.ModelUser != null)
{
    <div class="row">
    <div class="col-12 col-lg-11 col-xl-10 col-xxl-9">
        <div class="row m-5"></div>
        <div class="row ms-1 fs-4 fw-bold">Edit profile</div>
        <div>
            @await Component.InvokeAsync("EditProfile")
        </div>

        <div class="row my-3 mx-4">
            <form method="post" enctype="multipart/form-data">
                <div class="row my-4 ">
                    <div class="form-group p-0 mb-2" id="imgUpload">
                        <label for="avatar" asp-for="Input.Avatar">Change avatar image</label>
                        <input type="file" class="form-control" id="avatar" asp-for="Input.Avatar">
                        <span asp-validation-for="Input.Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group p-0 mb-2">
                        <label for="floatNickName" asp-for="Input.NickName">Name</label>
                        <input type="text" class="form-control" id="floatNickName" asp-for="Input.NickName"
                            placeholder="@Model.ModelUser.NickName" value="@Model.ModelUser.NickName">
                        <span asp-validation-for="Input.NickName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-4 ">
                    <div class="form-group p-0 mb-2">
                        <label for="floatBio" asp-for="Input.Description">Bio</label>
                        <textarea class="form-control" id="floatBio" rows="3" asp-for="Input.Description"
                            placeholder="@Model.ModelUser.Description" value="@Model.ModelUser.Description"></textarea>
                        <span asp-validation-for="Input.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="row my-4">
                    <div class="form-group p-0 mb-2">
                        <label asp-for="Input.DOB"></label>
                        <input asp-for="Input.DOB" class="form-control fs-5" placeholder="@Model.ModelUser.DateOfBirth"
                            type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                            value="@DateOnly.FromDateTime(Model.ModelUser.DateOfBirth.Value)" />
                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                    </div>
                </div>


                <div class="row my-4 justify-content-end">
                    <a class="col-auto btn btn-link rounded-pill border-tertiary-gray text-dark fs-6 px-5 py-1 me-3"
                        asp-page="../User" asp-route-username="@User.Identity.Name">Cancel</a>
                    <input class="col-auto btn btn-link rounded-pill fs-6 bg-dark text-white py-1 px-5" type="submit"
                        value="Save">
                </div>
            </form>
            <div class="row mt-4">
                Need to update your pasword?
            </div>
            <div class="row my-4">
                <a asp-page="Password"
                    class="col-auto btn btn-link rounded-pill border-tertiary-gray text-dark fs-6 px-5 py-1">Change
                    password</a>
            </div>

        </div>
    </div>
</div>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}